section.restaurants {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	place-items: center;
	width: 100%;
}

section.restaurants.restaurants-loading {
	grid-template-columns: 1fr;
}

section.restaurants.restaurants-mobile {
	grid-template-columns: 1fr;
}
