.home-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.home-section .section-content {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 30px;
	place-items: center;
	width: 100%;
}

.home-section .section-content article {
	display: grid;
	place-items: center;
	width: 100%;
}

.section-content article input {
	margin: 0 auto;
	margin-top: -110px;
	max-width: 600px;
	width: 50%;
}

article div h1 {
	font-size: 2rem;
}

article .result-container {
	min-width: 720px;
}

article .result-container section.search-result {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.result-container section.search-result div {
	display: flex;
	flex-direction: column;
}

.result-container section.search-result div p {
	color: #aaaaaa;
	font-size: 0.875rem;
	margin-left: auto;
}

.result-container section.search-result div h2 {
	margin-left: auto;
	margin-top: 0;
}

.result-container.result-container-mobile {
	min-width: 350px;
}

.result-container.result-container-mobile h1 {
	margin: 20px 0;
}

.result-container.result-container-mobile section.search-result {
	display: block;
}

.result-container-mobile section.search-result div {
	display: block;
}
